@using PeopleLookup.Mvc.Extensions
@model PeopleLookup.Mvc.Models.BulkModel

@{
    ViewBag.Title = "Bulk User Lookup";
    Layout = "_Layout";
    var allowSensitiveInfo = (bool)ViewBag.AllowSensitiveInfo;
}

<div class="card">
    <div class="card-header">
        <h2>@ViewBag.Title</h2>
        <small class="form-text text-muted">Bulk Emails can have pasted text from a list of emails from outlook. It will strip out the non email text.</small>
        <small class="form-text text-muted">Bulk Kerberos ids can be pasted in with a separator (commas or spaces for example)</small>
    </div>
    <div class="card-body">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="BulkEmail" class="control-label"></label>
                <textarea asp-for="BulkEmail" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="BulkKerb" class="control-label"></label>
                <textarea asp-for="BulkKerb" class="form-control"></textarea>
            </div>
            @if (allowSensitiveInfo)
            {
                <div class="form-group">
                    <label asp-for="BulkStudentIds" class="control-label"></label>
                    <textarea asp-for="BulkStudentIds" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="BulkPpsIds" class="control-label"></label>
                    <textarea asp-for="BulkPpsIds" class="form-control"></textarea>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Lookup Users" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@if (Model.Results != null && Model.Results.Count > 0)
{
    <div style="padding-top: 15px">
        <div class="card">
            <div class="card-header">
                <h2>Results</h2>
                <small class="form-text text-muted">To see more details, <strong>click on the row</strong> or export the results with one of the buttons on the table (Copy, Excel, etc.). If you filter (Search) or sort the table before exporting, that will also be applied to the export.</small>
                <small class="form-text text-muted">If you have filtered the report with the Search feature, only the filtered results will be exported.</small>
                <small class="form-text text-muted">You can filter the table with the data that isn't displayed on the screen.</small>
            </div>
            <div class="card-body">
                <table id="results" class="table dataTable">
                    <thead>
                        <tr>
                            <th>Search</th>
                            <th>Found</th>
                            <th>Kerb Id</th>
                            <th>IAM Id</th>
                            <th>PPS Id</th>
                            <th>Employee Id</th>
                            <th>Student Id</th>
                            <th>Banner PIDM</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Employee</th>
                            <th>Student</th>
                            <th>Faculty</th>
                            <th>Staff</th>                            
                            <th>HS Employee</th>
                            <th>External</th>
                            <th>Roles</th>
                            <th>Dept(s)</th>
                            <th>Title</th>
                            <th>Errors</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                            var style = string.Empty;
                            if (!item.Found)
                            { style = "background-color: lightcoral"; }
                            <tr style="@style" data-toggle="modal" data-target="#row-details">
                                <td>@item.SearchValue</td>
                                <td>@item.Found.ToYesNoString()</td>
                                <td>@item.KerbId</td>
                                <td>@item.IamId</td>
                                <td>@item.PpsId</td>
                                <td>@item.EmployeeId</td>
                                <td>@item.StudentId</td>
                                <td>@item.BannerPidm</td>
                                <td>@item.Email</td>
                                <td>@item.FullName</td>
                                <td>@item.IsEmployee.ToYesNoString()</td>
                                <td>@item.IsStudent.ToYesNoString()</td>
                                <td>@item.IsFaculty.ToYesNoString()</td>
                                <td>@item.IsStaff.ToYesNoString()</td>
                                <td>@item.IsHSEmployee.ToYesNoString()</td>
                                <td>@item.IsExternal.ToYesNoString()</td>
                                <td>@item.ExpandedAffiliation</td>
                                <td>@item.Departments</td>
                                <td>@item.Title</td>
                                <td>@item.ErrorMessage</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="row-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Person Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table id="table-details" class="table ">

          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>


    <script type="text/javascript">
        $(function() {
            var allowSensitiveInfo = ('@ViewBag.AllowSensitiveInfo' === 'True');
            var showCols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18,19];

            if (allowSensitiveInfo !== true) {
                showCols = [0, 1, 2, 3, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,19];
            }
            var table = $("#results").DataTable({
                "dom": 'lBfrtip',
                "buttons": [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: showCols
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: showCols
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        exportOptions: {
                            columns: showCols
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: showCols
                        }
                    },
                    {
                        text: 'JSON',
                        action: function ( e, dt, button, config ) {
                            var data = dt.buttons.exportData({
                                columns: showCols
                            });
 
                            $.fn.dataTable.fileSave(
                                new Blob( [ JSON.stringify( data ) ] ),
                                'Export.json'
                            );
                        }
                    },
                ],
                "columnDefs": [
                    { "targets": [3, 4, 5, 6, 7, 10, 11, 14, 15, 16, 17, 18], "visible": false }
                ]
            });

            $('#results tbody').on('click',
                'tr',
                function() {
                    var data = table.row(this).data();;

                    var tableDetails = $("#table-details");
                    tableDetails.empty();
                    $.each(data,
                        function(index, value) {
                            if (showCols.indexOf(index) > -1) {
                                var lab = table.column(index).header().innerText;

                                tableDetails.append("<tr><td>" + lab + "</td><td>" + value + "</td></tr>");
                            }
                        });

                    $('#exampleModalLong').trigger('focus');
                });
        });


    </script>
}

@section Styles
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
    <style>
        .dt-buttons {
            padding-left: 50px;
            padding-bottom: 20px;
        }
    </style>
}
